.restaurants-bar {
  background-color: #fbfbfb;
  .restaurants {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    & > h3 {
      font-family: "Baloo Bhaijaan 2", cursive;
      line-height: 27px;
      text-transform: uppercase;
      font-size: 35px;
      color: #fff;
      font-weight: 700;
      margin-bottom: 30px;
      z-index: 90;
    }
  }
  .restaurants-main-titleSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
    .restaurants-main-title {
      font-family: "Oooh Baby", cursive;
      font-size: 36px;
      color: #898989;
      text-transform: capitalize;
      font-weight: 100;
    }
    .restaurants-main-subtitle {
      font-size: 15px;
      line-height: 26px;
      max-width: 620px;
      margin: auto;
      font-family: "Baloo Bhaijaan 2", cursive;
      font-weight: 400;
      font-style: normal;
      color: #151515;
    }
  }
  .first {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    margin-bottom: 50px;
    .images-foods {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .arrow{
        display: none;
      }
      &:hover{
        .arrow{
            display: block;
        }
        .arrow-left,.arrow-right{
            border: 1px solid #000;
            background-color: #000;
            cursor: pointer;
          }
      }

     
    }
    .mainText{
      padding-top: 8px;
      font-family: 'Baloo Bhaijaan 2', cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        color: #151515;
    }
  }
  .second{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    .restaurantSecondSide{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
     
      &>h3{
        
        font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.07;
    text-align: left;
    color: #333333;
      }
      &>span{
        margin: 20px 0;
        font-family: 'Baloo Bhaijaan 2', cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        color: #151515;
      }
      &>ul>li{
        list-style-type: none;
        font-family: 'Baloo Bhaijaan 2', cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
       
        color: #151515;
      }
    }
    .photoSideRestaurant{
      &>img{
        width: 100%;
      }
    }
  }
  .third{
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    .photoBarSide{
    
      &>img{
        width: 100%;
      }
    }
    .barThirdSide{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      &>h3{
        
        font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.07;
    text-align: left;
    color: #333333;
      }
      &>span{
        margin: 20px 0;
        font-family: 'Baloo Bhaijaan 2', cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        color: #151515;
      }
      &>ul>li{
        list-style-type: none;
        font-family: 'Baloo Bhaijaan 2', cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
       
        color: #151515;
      }
    }
  }
}
