.spaSide{
    background-color: #fbfbfb;
    .spaHeader{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        & > h3 {
            font-family: "Baloo Bhaijaan 2", cursive;
            line-height: 27px;
            text-transform: uppercase;
            font-size: 35px;
            color: #fff;
            font-weight: 700;
            margin-bottom: 30px;
            z-index: 90;
          }
    }
    .main-spa{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
    &>.main-title{
        font-family: "Oooh Baby", cursive;
        font-size: 36px;
        color: #898989;
        text-transform: capitalize;
        font-weight: 100;
    }
    &>.main-subtitle{
        font-size: 15px;
        line-height: 26px;
        max-width: 620px;
        margin: auto;
        font-family: "Baloo Bhaijaan 2", cursive;
        font-weight: 400;
        font-style: normal;
        color: #151515;
    }
    }
    .spaCards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .spaCardOne{
            display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap:60px;
        width:100%;
        
        .spaCard{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            background-color: #fff;
            position: relative;
            .spaPhoto>img{
                width: 100%;
            }
            .spaText{
                width: 100%;
                
                position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.6);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.25s;
        &>h5{
            font-size: 25px;
            border-bottom: 2px solid #d2ab67;
            display: inline-block;
            line-height: 26px;
            margin-bottom: 10px;
            padding-bottom: 10px;
        }
        &>span{
            font-size: 16px;
            line-height: 28px;
            font-family: 'Baloo Bhaijaan 2', cursive;
    font-weight: 400;
    font-style: normal;
        }
        &> *{
            transform:  translateY(20px);
            transition:  transform 0.25s;
        }
        &:hover{
            opacity: 1;
            color: #fff;
            &>*{
                transform:  translateY(0);   
            }
        }
            }
        }
        .poolCard{
            @extend .spaCard;
   
            .poolPhoto>img{
                width: 100%;
            }
            .poolText{
               @extend .spaText;
            }
        }
        }
        .spaCardTwo{
            @extend .spaCardOne;
            margin-top: 100px;
            .bathCard{
                @extend .spaCard;
                position: relative;
                .bathPhoto>img{
                    width: 100%;
                }
                .bathText{
                    @extend .spaText;
                }
            }
            .fitnessCard{
                position: relative;
                @extend .spaCard;
                
                .fitnessPhoto>img{
                    width: 100%;
                }
                .fitnessText{
                    width: 100%;
                  @extend .spaText;
                }
            }
        }
    }
}