.accommodationSide {
  background-color: #fbfbfb;
  .accommodation-header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    & > h3 {
      font-family: "Baloo Bhaijaan 2", cursive;
      line-height: 27px;
      text-transform: uppercase;
      font-size: 32px;
      color: #fff;
      font-weight: 700;
      margin-bottom: 30px;
      z-index: 90;
    }
  }
  .accommodation-main-titleSide {
    padding: 50px 0;
    & > .accommodation-main-subtitle {
      font-size: 15px;
      line-height: 26px;
      max-width: 620px;
      margin: auto;
      font-family: "Baloo Bhaijaan 2", cursive;
      font-weight: 400;
      font-style: normal;
      color: #151515;
    }
  }
  .firstRoom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
    .images-accommodation {
      & > img {
        width: 100%;
      }
    }
    .texts-accommodation {
      @extend .firstRoom;
      flex-direction: column;

      .accommodation-Texts {
        border-bottom: 1px solid #f0f0f0;
        padding: 24px 0;
        & > h3 {
          font-family: "Baloo Bhaijaan 2", cursive;
          font-size: 28px;
          font-weight: 700;
          line-height: 1.07;
          text-align: left;
          color: #333333;
          transition: all 0.5s;
          padding: 15px 0;
        }
        & > span {
          font-family: "Baloo Bhaijaan 2", cursive;
          font-weight: 400;
          font-style: normal;
          font-size: 15px;
          padding: 15px 0;
          color: #151515;
          margin-bottom: 15px;
        }
        & > p {
          @extend span;
          
        }
      }
    }
    .accommodation-link{
       
        align-self: flex-end;
        
       padding: 15px 0;
        &>a{

            @extend span;
            text-decoration: none;
            color: #d2ab67!important;
        }
    }
  }
  .secondRoom{
    margin-top:25px; 
    @extend .firstRoom;
    .texts-accommodation-family{
        @extend .texts-accommodation;
        padding: 24px 10px;
        .accommodation-Texts-family{
            border-bottom: 1px solid #f0f0f0;
            &>h3{
                font-family: "Baloo Bhaijaan 2", cursive;
              font-size: 28px;
              font-weight: 700;
              line-height: 1.07;
              text-align: left;
              color: #333333;
              transition: all 0.5s;
              padding: 15px 0;
            }
            & > span {
                font-family: "Baloo Bhaijaan 2", cursive;
                font-weight: 400;
                font-style: normal;
                font-size: 15px;
                padding: 15px 0;
                color: #151515;
                margin-bottom: 15px;
              }
              & > p {
                @extend span;
                
              }
        }
    }
    .accommodation-link-family{
        @extend .accommodation-link;
    }
  }
}
@media (min-width:260px) and (max-width:374.9px){
  .accommodationSide{
    &>.accommodation-header>h3{
      font-size: 28px;
    }
    
  }
  
}